// IMG PATH: /img/<filename>
// SASS Start
// Imports Start
@import 'compass/css3';
@import 'compass/typography/links/link-colors';

// Imports End
// Variables Start
// Colors
// Fonts
// Fonts - Dimensions
$font-size-desktop: 14px;
$font-size-mobile: 12px;
$font-size-rem: 62.5%;
// Resolutions
$desktop: 992px;
$desktop-hd: 1200px;
$tablet: 768px;
$smartphone: 576px;
// Media Queries
$media-desktop: 'min-width: #{$desktop}';
$media-desktop-hd: 'min-width: #{$desktop-hd}';
$media-tablet: 'min-width: #{$tablet}';
$media-smartphone: 'min-width: #{$smartphone}';
$media-local: 'display-mode: standalone';

// Classes
%cover,
%background,
%sprites {

  @extend %background-base;
}

%background {
  background-position: 0 0;
  background-size: 100%;
}

%background-base {
  background-attachment: scroll;
  background-repeat: no-repeat;
}

%center {
  text-align: center;
}

%cover {
  background-position: center;
  background-size: cover;
}

%image {
  height: auto;
  width: 100%;
}

%uppercase {
  text-transform: uppercase;
}

// General
// Links
a {
  text-decoration: none !important;
}

a:active a:focus {}

// Outline
a:focus,
input:focus,
.btn:focus {
  outline: none !important;
}

// Buttons
input[type='submit'] {
  appearance: none !important;
  border-radius: 0 !important;
}

// Layout
.blocked {
  overflow: hidden !important;
}

.clear {
  clear: both;
}

// Interaction
.disable {
  user-select: none;
}

.deactivate {
  pointer-events: none;
}

// SEO
mark {
  background-color: transparent !important;
  padding: 0 !important;
}

// Visibility
.hidden {
  display: none !important;
}

.occult {
  opacity: 0 !important;
}

// HTML
html {
  font-size: $font-size-rem;

  // Body
  body {
    font-size: $font-size-mobile;

    @media ($media-tablet) {
      font-size: $font-size-desktop;
    }

    /* &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
      background-color: $bianco;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-thumb {
      background-color: $blu;
    } */

    // Container
    .container {

      @include display-flex;
      @include flex-direction(column);

      height: auto;
      min-height: 100vh;

      &#{__wrapper} {
        -webkit-box-flex: 1 0 0;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
      }
    }

    h6 {
      display: none;
    }
  }
}

// Fine SCSS
