# Repository - Configurazione

/config/
/lib/
/log/
/js/**/*
!/js/lib/
!/js/dist/
/node_modules/
/sass/
/_.browserlistrc
!/.gitignore
/.*
/*.json
/.editorconfig
/.vscode
/config.rb
/Capfile
/Gemfile
/gulpfile.js
/package-lock.json
/postcss.config.js
/webpack.*.js
