# Repository - Configuration
/config/
!/js/frontend/install.js
!/js/frontend/refresh.js
!/js/frontend/lib/*
/js/frontend/*
/js/frontend/lib/workbox/*
/lib/
/log/
/node_modules/
/sass/
/test/
/_.browserlistrc
!/.github
!/.gitignore
!/.htaccess
/.*
!/manfest.json
/*.json
/babel.config.js
/Capfile
/config.rb
/Gemfile
/Gemfile.lock
/gulpfile.js
/jest.*.js
/postcss.config.js
/webpack.*.js
.DS_Store
